[Unit]
Description=encoder
After=network.target

[Service]
ExecStart=/usr/bin/node encoder.js
User=rustv
Group=rustv
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory={{ app_path }}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target